@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #191724;
  --color-primary: #5000a8;
  --color-primary-foreground: #ffffff;
  --color-border: #e7e1eb;
  --color-input: #e4e0e7;
  --color-ring: #7430c3;
  --color-muted-foreground: #8d8797;
  --font-sans: "Inter Variable", Inter, Arial, sans-serif;
}
